USE [master]
GO
/****** Object:  Database [QLTuSinh]    Script Date: 5/11/2023 12:07:49 AM ******/
CREATE DATABASE [QLTuSinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTuSinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTuSinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTuSinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTuSinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTuSinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTuSinh]
GO
/****** Object:  Table [dbo].[KHOA_TU]    Script Date: 5/11/2023 12:07:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_TU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHOA_TU] [varchar](64) NULL,
	[TEN_KHOA_TU] [nvarchar](128) NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[NGAY_KET_THUC] [date] NULL,
	[MIEU_TA] [nvarchar](50) NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_KHOA_TU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_NGU]    Script Date: 5/11/2023 12:07:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_NGU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_PHONG] [varchar](64) NOT NULL,
	[TEN_PHONG] [nvarchar](128) NULL,
	[LOAI_PHONG] [bit] NULL,
	[KICH_THUOC] [int] NULL,
 CONSTRAINT [PK_PHONG_NGU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 5/11/2023 12:07:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](64) NULL,
	[PASSWORD] [varchar](64) NULL,
	[IS_ADMIN] [bit] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TU_SINH]    Script Date: 5/11/2023 12:07:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TU_SINH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_THE] [varchar](50) NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NAM_SINH] [int] NULL,
	[GIOI_TINH] [bit] NULL,
	[TEN_PHU_HUYNH] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[QUE_QUAN] [nvarchar](50) NULL,
	[ID_PHONG] [int] NULL,
	[ID_KHOA_TU] [int] NULL,
 CONSTRAINT [PK_TU_SINH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHOA_TU] ON 

INSERT [dbo].[KHOA_TU] ([ID], [MA_KHOA_TU], [TEN_KHOA_TU], [NGAY_BAT_DAU], [NGAY_KET_THUC], [MIEU_TA], [TRANG_THAI]) VALUES (1, N'KTMH1', N'Chùa Linh Quang', CAST(N'2023-01-06' AS Date), CAST(N'2023-07-06' AS Date), N'Khóa tu mùa hè', 1)
INSERT [dbo].[KHOA_TU] ([ID], [MA_KHOA_TU], [TEN_KHOA_TU], [NGAY_BAT_DAU], [NGAY_KET_THUC], [MIEU_TA], [TRANG_THAI]) VALUES (2, N'KTMH2', N'Chùa Linh Quang', CAST(N'2023-01-07' AS Date), CAST(N'2023-07-07' AS Date), N'Khóa tu mùa hè', 0)
SET IDENTITY_INSERT [dbo].[KHOA_TU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG_NGU] ON 

INSERT [dbo].[PHONG_NGU] ([ID], [MA_PHONG], [TEN_PHONG], [LOAI_PHONG], [KICH_THUOC]) VALUES (1, N'P01', N'Phật Tử Nam', 1, 35)
INSERT [dbo].[PHONG_NGU] ([ID], [MA_PHONG], [TEN_PHONG], [LOAI_PHONG], [KICH_THUOC]) VALUES (2, N'P02', N'Nhà Khách', 1, 30)
INSERT [dbo].[PHONG_NGU] ([ID], [MA_PHONG], [TEN_PHONG], [LOAI_PHONG], [KICH_THUOC]) VALUES (3, N'P03', N'Nhà Tổ', 0, 10)
SET IDENTITY_INSERT [dbo].[PHONG_NGU] OFF
GO
SET IDENTITY_INSERT [dbo].[TAI_KHOAN] ON 

INSERT [dbo].[TAI_KHOAN] ([ID], [USERNAME], [PASSWORD], [IS_ADMIN]) VALUES (1, N'admin', N'123456', 1)
INSERT [dbo].[TAI_KHOAN] ([ID], [USERNAME], [PASSWORD], [IS_ADMIN]) VALUES (2, N'dong', N'123456', 0)
SET IDENTITY_INSERT [dbo].[TAI_KHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TU_SINH] ON 

INSERT [dbo].[TU_SINH] ([ID], [SO_THE], [HO_TEN], [NAM_SINH], [GIOI_TINH], [TEN_PHU_HUYNH], [SDT], [QUE_QUAN], [ID_PHONG], [ID_KHOA_TU]) VALUES (1, N'K123', N'Nguyễn Văn Đông', 2001, 1, N'Nguyễn Ngọc Khánh', N'0942348906', N'Bắc Ninh', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TU_SINH] OFF
GO
ALTER TABLE [dbo].[TU_SINH]  WITH CHECK ADD  CONSTRAINT [FK_TU_SINH_KHOA_TU] FOREIGN KEY([ID_KHOA_TU])
REFERENCES [dbo].[KHOA_TU] ([ID])
GO
ALTER TABLE [dbo].[TU_SINH] CHECK CONSTRAINT [FK_TU_SINH_KHOA_TU]
GO
ALTER TABLE [dbo].[TU_SINH]  WITH CHECK ADD  CONSTRAINT [FK_TU_SINH_PHONG_NGU] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG_NGU] ([ID])
GO
ALTER TABLE [dbo].[TU_SINH] CHECK CONSTRAINT [FK_TU_SINH_PHONG_NGU]
GO
/****** Object:  StoredProcedure [dbo].[Get_DSKhoaTu]    Script Date: 5/11/2023 12:07:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DSKhoaTu]
	@makhoatu varchar(64)
AS
BEGIN
	select * from KHOA_TU
END
GO
/****** Object:  StoredProcedure [dbo].[Get_DSPhongNgu]    Script Date: 5/11/2023 12:07:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

CREATE PROCEDURE [dbo].[Get_DSPhongNgu]
	@maphong nvarchar(64)
AS
BEGIN
		select * from PHONG_NGU
END
GO
USE [master]
GO
